<head>
    <title><%= title %></title>
</head>
<body>
    <div>
        <p>User: <%= message.user %></p>
        <p>Message: <%= message.text %></p>
        <p>Posted on: <%= message.added %></p>
    </div>
    <a href="/">Go back</a>
</body>
