<head>
    <title><%= title %></title>
</head>
<body>
    <div>
        <p>User: <%= message.username %></p>
        <p>Message: <%= message.message %></p>
        <p>Posted on: <%= message.posted %></p>
    </div>
    <a href="/">Go back</a>
</body>
